name: Test
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

run-name: Test

jobs:
  sample-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
         token: ${{ secrets.GITHUB_TOKEN  }}

      - name: Wait 
        run: |
          sleep 30

  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run action
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          job: 'sample-job'
